nav {
    display: inline flex;
    text-align: center;
    margin: 10px 200px;
    background-color: rgb(101, 173, 255);
    padding: 20px;
}
a {
    color: white;
    margin: 20px;
}
a:hover {
    background-color: rgb(0, 39, 167);
    font-size: 18px;
}
button {
    font-family: 'serifa';
    font-size: 16px;
    border: 0;
    background-color: blueviolet;
    color: white;
    padding: 15px;
    border-radius: 10px;
}